{% include base_path %}

<div id="header">
    <div class="top">
        <div id="logo">
            <div class="image avatar"><img src="{{ base_path }}/images/profile.jpg" alt="" /></div>
            <h1 id="title">Michel Steuwer</h1>
            <p>I am a lecturer (assistant professor) in compilers and runtime systems in the School of Informatics at the University of Edinburgh.</p>
            <ul class="icons" style="margin-bottom: 0;">
                <li><a href="https://orcid.org/0000-0001-5048-0741" class="icon brands"><i class="ai ai-orcid"></i><span class="label">ORCID</span></a></li>
                <li><a href="https://dblp.uni-trier.de/pers/hd/s/Steuwer:Michel" class="icon brands"><i class="ai ai-dblp"></i><span class="label">DBLP</span></a></li>
                <li><a href="https://scholar.google.com/citations?user=XdXJRZEAAAAJ" class="icon brands"><i class="ai ai-google-scholar"></i><span class="label">Google Scholar</span></a></li>
                <li><a href="https://academic.microsoft.com/#/profile/MichelSteuwer" class="icon brands"><i class="ai ai-academia"></i><span class="label">Microsoft Academic</span></a></li>
            </ul>
            <ul class="icons">
                <li><a href="https://twitter.com/MichelSteuwer" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://www.linkedin.com/in/michel-steuwer-63882297" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
                <li><a href="https://github.com/michel-steuwer" class="icon brands fa-github"><span class="label">Github</span></a></li>
                <li><a href="mailto:michel.steuwer@ed.ac.uk" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </div>

        <nav id="nav">
            <ul>
            {% assign sections = site.sections | sort: "position" %}
            {% for section in sections %}
                {% if section.identifier %}
                    {% capture identifier %}{{section.identifier}}{% endcapture %}
                {% else %}
                    {% assign identifier = section.title %}
                {% endif %}
                {% if section.nav-title %}
                    {% capture title %}{{section.nav-title}}{% endcapture %}
                {% else %}
                    {% assign title = section.title %}
                {% endif %}
                <li><a href="#{{identifier|downcase}}" id="{{identifier|downcase}}-link"><span class="icon solid {{section.icon}}">{{title}}</span></a></li>
            {% endfor %}
            </ul>
        </nav>

    </div>

    <div class="bottom"></div>
</div>