{% include base_path %}

<meta charset="utf-8">

{% include seo.html %}


<title>{{ site.title }}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="{{ base_path }}/assets/css/fonts.css" />
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css" />
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.min.css">

<script src="https://kit.fontawesome.com/97d3114e8c.js" crossorigin="anonymous"></script>
<script src="{{ base_path }}/assets/js/jquery.min.js"></script>
<script src="{{ base_path }}/assets/js/jquery.scrolly.min.js"></script>
<script src="{{ base_path }}/assets/js/jquery.scrollex.min.js"></script>